.hzh-hero-content {
    width: 50%;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 40px;
    padding-bottom: 20px;
}
.hzh-hero-text {
    padding-top: 25%;
    font-size: 1.2rem;
    text-align: left;
}

img {
    width: 20rem;
}

.hzh-hero-right img,
.hzh-hero-right p {
    float: right;
}
