.hzh-footer {
    color: #777;
    font-family: "Quicksand";
}

.hzh-footer .grid .row {
    padding: 5px !important;
}

.hzh-footer-title {
    font-size: 16pt;
}

.hzh-footer-subtitle {
    font-size: 11pt;
}
